 <launch>
        <!-- <node name="tf_broadcaster" pkg="robot_setup_tf" type="tf_broadcaster" /> -->

        <node machine="PeopleBot" name="sicklms" pkg="sicktoolbox_wrapper" type="sicklms">
                <remap from="scan" to="scan2" />
		<param name="port" value="/dev/ttyS2" />
                <param name="baud" value="38400" />
                <param name="connect_delay" value="40" />
        </node>
	
	<include file="./freenect.launch" />

        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
                <remap to="camera/depth/image_raw" from="image" />
                <remap to="camera/depth/camera_info" from="camera_info" />
                <param name="output_frame_id" value="base_link" />
                <param name="scan_height" value="20" />
        </node>

	
	<!-- Run the map server -->
	<!-- add my_map_package and resolution -->
	<node name="map_server" pkg="map_server" type="map_server" args="/home/yochan/catkin_ws/src/map_package/map.yaml" />

	<!-- Run AMCL -->
	<include file="./amcl_diff.launch" />

	<node pkg="move_base" respawn="false" name="move_base" output="screen" type="move_base">
		<remap from="cmd_vel" to="RosAria/cmd_vel" /> 
		<param name="controller_frequency" value="20.0" />
		<param name="planner_frequency" value="0.0" />
		<param name="planner_patience" value="7.0" /> <!-- default 5.0 -->
		<param name="controller_patience" value="15.0" />

		<param name="recovery_behavior_enabled" value="true" />		
		<!-- <param name="recovery_behaviors" 
			value="[{name: rotate_recovery, type: rotate_recovery/RotateRecovery},
			{name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}]" /> -->

		<!-- change the following only if default recovery is used -->
		<param name="conservative_reset_dist" value="3.0" />
		<param name="clearing_rotation_allowed" value="true" /> <!-- default true -->

		<rosparam file="/home/yochan/catkin_ws/src/peoplebot_2dnav/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="/home/yochan/catkin_ws/src/peoplebot_2dnav/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="/home/yochan/catkin_ws/src/peoplebot_2dnav/local_costmap_params.yaml" command="load" />
		<rosparam file="/home/yochan/catkin_ws/src/peoplebot_2dnav/global_costmap_params.yaml" command="load" />
		<rosparam file="/home/yochan/catkin_ws/src/peoplebot_2dnav/base_local_planner_params.yaml" command="load" />
	</node>
</launch>
